@tailwind base;
@tailwind components;
@tailwind utilities;

.textColor {
	color: #2c2c2c;
}

.dark .textColor {
	color: #e7e7e7;
}

.hoverFile:hover {
	background-color: #e5f0f7;
}

.dark .hoverFile:hover {
	background-color: #2d3748;
}

.borderColor {
	border-color: #e5e7eb;
}

.dark .borderColor {
	border-color: #4b5563;
}

.dark .compilerContainer {
	background-color: #1e1e1e;
}

.contents {
	display: grid;
	place-items: center;
}

.shadow {
	border-radius: 8px;
	box-shadow:
		rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.sample-drag-bar {
	flex-shrink: 0;
	width: 4px;
	cursor: col-resize;
}

.sample-drag-bar.sample-drag-bar--dragging,
.sample-drag-bar:hover {
	background-color: #4bb0f9d6;
}

.sample-drag-bar.sample-drag-bar--horizontal {
	height: 5px;
	width: 100%;
	cursor: row-resize;
}
